.img {
  margin-top: -3rem;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  background-color: #1b447f;
  padding: 25px;
  margin-top: 1rem;

}
.section {
  background-color: #1b447f;
  padding-top: 25px;
  padding-bottom: 1rem;
  margin-top: 1rem;

}
.grid-item-3 {
  grid-column-start: 7;
  grid-column-end: 8;
}
.grid-item-2 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.grid-item-1 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  background-color: #1b447f;
  margin-top: 1rem;

}

footer {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color:#FFFFFF;
}

.footer-nav {
  position: relative;
  right: 57rem;
  bottom: 9rem;
}

.footer-logo {
  position: relative;
  top: 10rem;
  padding-left: 5rem;
}

nav {
  position: relative;
  bottom: 4rem;
  margin-left: 62rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
}
a {
  color:#FFFFFF;
  text-decoration: none;
}

header {
  font-family: Arial, sans-serif;
  font-size: 17px;
  background-color: #03a3df;
  padding-left: 4rem;
  padding-top: 1rem;
}

p {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color:#FFFFFF;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color:#ecb722;
}

h3 {
  padding-top: 2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color:#ecb722;
}
h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color:#ecb722;
}
